* {
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}

body {
    background-color: rgb(216, 226, 255);
    
}
.navbar {
    height: 60px;
    color: white;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo {
    margin-left: 10px;
    height: 50px;
    width: 114px;
}

.logo {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("amazon_logo.png");
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
    border-radius: 5%;
}

.deliver {
    
    padding-top: 4px;
    display: flex;
    height: 50px;
    width: 80px;
}

.location-logo {
    padding: 21px 2px 0px 0px;
    height: 50px;
    width: 10px;
    
}

.baaki {
    padding: 10px 4px;
}

.baaki h1 {
    font-size: 10px;

}

.baaki h2 {
    font-size: 15px;

}

.baaki h2:hover {
    color: rgb(114, 114, 230);
    transition: 0.2s;

}


.nav-search {
    border-radius: 5px;
    background-color: pink;
    height: 35px;
    width: 700px;
    margin: 12.5px;
    display: flex;    
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 600px;
    margin: 0%;
    padding: 0;
    padding-left: 15px;
    border: none;
    height: 35px;
    font-size: 1rem;
}


.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-signin {
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    width: 130px;
}

.nav-order {
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    width: 70px;
}
.nav-first {
    font-size: 12px;
}

.nav-second {
    font-size: 14px;
    font-weight: 700;
}

.nav-cart {
    padding-top: 15px;
    display: flex;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart p {
    font-weight: 700;
    padding-top: 12px;
}

.panel {
    align-items: center;
    font-size: 14px;
    justify-content: left;
    display: flex;
    color: white;
    height: 40px;
    background-color: #1e1f2b;
}

.panel p {
    padding-top: 5px;
    height: 25px;
    align-items: center;
    margin: 15px;
}


/** item section **/

.hero-section {
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
}

.box-strip {
    justify-content: space-evenly;
    display: flex;
    margin: 5px;
    margin-top: 0;
    background-color: transparent;
    height: 400px;
    padding: 30px 10px;
}

.box {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 20px;
    background-color: #ffffff;
    height: 360px;
    width: 260px;
    border: 1px solid black;
    color: #0f1111;
}

.box:hover {
    background-color: #1e1f2b;
    color: #f3f3f3;
    transition: 0.5s;
}

.box p:hover {
    color: blue;
    font-weight: 700;
}


.box-img {
    padding: 20px;
    height: 230px;
    
}


